@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  margin: 0;
  font-family: sans-serif;
}

.layout {
  display: flex;
}

.sidebar {
  width: 250px; /* Ajusta el ancho según sea necesario */
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px; /* Ajusta el padding según sea necesario */
}